## Question:  
I decided to target the following 27 week time period to perform my EDA on: 2020-07-25 to 2021-01-29. I was interested in this time period because I wanted to find insights on how the MTA traffic pattern changes as we move out of summer (August) and into the new school year (September), onto the holiday season in December, and into the new year. One would expect the traffic to increase in September. The government fiscal year started on October 1st. Public holidays celebrated in NY include:  
  
Labor Day 	Mon, Sep 7, 2020  
Columbus Day 	Mon, Oct 12, 2020  
Veterans Day 	Wed, Nov 11, 2020  
Thanksgiving 	Thu, Nov 26, 2020  
Christmas Day 	Fri, Dec 25, 2020  
New Year's Day 	Fri, Jan 1, 2021  
Martin Luther King Jr. Day 	Mon, Jan 18, 2021

## Importing MTA data from website into a .db file for SQL queries

I used the 'get_mta.py' file provided and imported data from the mta website ('http://web.mta.info/developers/turnstile.html') following the the instructions on the 'get_mta.md' readme file.  
  
The resulting .db file was saved in the 'data' folder as 'mta_data - 27 weeks - 2020.08.01 to 2021.01.30.db'
  
The following command was used to get the data for the months of August, 2020 to January, 2021:  
  
python 'get_mta.py' "(2008|2009|2010|2011|2012|2101)"

27 weeks to collect:

['2021-01-30', '2021-01-23', '2021-01-16', '2021-01-09', '2021-01-02', '2020-12-26', '2020-12-19', '2020-12-12', '2020-12-05', '2020-11-28', '2020-11-21', 
'2020-11-14', '2020-11-07', '2020-10-31', '2020-10-24', '2020-10-17', '2020-10-10', '2020-10-03', '2020-09-26', '2020-09-19', '2020-09-12', '2020-09-05', '2020-08-29', '2020-08-22', '2020-08-15', '2020-08-08', '2020-08-01']

## Using SQLAlchemy to import SQL query as a Pandas DataFrame

In [58]:
# if SQLAlchemy is not installed:

#!conda install -c anaconda sqlalchemy

In [59]:
from sqlalchemy import create_engine
import pandas as pd

In [60]:
engine = create_engine("sqlite:///mta_data.db") #telling it to use sqlite specifically

engine

Engine(sqlite:///mta_data.db)

In [61]:
all_tables = engine.table_names # attribute with list the table names in the database
all_tables

In [62]:
engine.table_names() # ??? there seems to be no name for the table.

<ipython-input-62-4c13db206af4>:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names() # ??? there seems to be no name for the table.

['mta_data']

In [63]:
df = pd.read_sql('SELECT * FROM mta_data', engine)
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/23/2021,03:00:00,REGULAR,7521371,2563177
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/23/2021,07:00:00,REGULAR,7521374,2563190
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/23/2021,11:00:00,REGULAR,7521399,2563231
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/23/2021,15:00:00,REGULAR,7521490,2563274
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/23/2021,19:00:00,REGULAR,7521630,2563312

In [64]:
df

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/23/2021,03:00:00,REGULAR,7521371,2563177
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/23/2021,07:00:00,REGULAR,7521374,2563190
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/23/2021,11:00:00,REGULAR,7521399,2563231
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/23/2021,15:00:00,REGULAR,7521490,2563274
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/23/2021,19:00:00,REGULAR,7521630,2563312
...,...,...,...,...,...,...,...,...,...,...,...
5673225,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,07/31/2020,12:59:32,REGULAR,5554,538
5673226,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,07/31/2020,13:00:00,REGULAR,5554,538
5673227,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,07/31/2020,13:11:06,REGULAR,5554,538
5673228,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,07/31/2020,17:00:00,REGULAR,5554,538
5673229,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,07/31/2020,21:00:00,REGULAR,5554,538

In [65]:
df.shape

(5673230, 11)

## Field Descriptions from MTA website  
http://web.mta.info/developers/resources/nyct/turnstile/ts_Field_Description.txt  

Field Description

C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS


C/A      = Control Area (A002)
UNIT     = Remote Unit for a station (R051)
SCP      = Subunit Channel Position represents an specific address for a device (02-00-00)
STATION  = Represents the station name the device is located at
LINENAME = Represents all train lines that can be boarded at this station
           Normally lines are represented by one character.  LINENAME 456NQR repersents train server for 4, 5, 6, N, Q, and R trains.
DIVISION = Represents the Line originally the station belonged to BMT, IRT, or IND   
DATE     = Represents the date (MM-DD-YY)
TIME     = Represents the time (hh:mm:ss) for a scheduled audit event
DESc     = Represent the "REGULAR" scheduled audit event (Normally occurs every 4 hours)
           1. Audits may occur more that 4 hours due to planning, or troubleshooting activities. 
           2. Additionally, there may be a "RECOVR AUD" entry: This refers to a missed audit that was recovered. 
ENTRIES  = The comulative entry register value for a device
EXIST    = The cumulative exit register value for a device

## Data Cleaning

In [66]:
df.columns # unlike in the MTA 1 exercise, it seems the 'EXITS' column doesn't have a bunch of spaces at the end.

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

In [67]:
# but will still strip white spaces for good measure
df.columns = [column.strip() for column in df.columns] # reassign column names for 
df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5673230 entries, 0 to 5673229
Data columns (total 11 columns):
 #   Column    Dtype
---  ------    -----
 0   C/A       object
 1   UNIT      object
 2   SCP       object
 3   STATION   object
 4   LINENAME  object
 5   DIVISION  object
 6   DATE      object
 7   TIME      object
 8   DESC      object
 9   ENTRIES   int64
 10  EXITS     int64
dtypes: int64(2), object(9)
memory usage: 476.1+ MB

'DATE' and 'TIME' columnes are of type "object" which often means string

In [69]:
# let's take a look at the specific entry for row 0
df.iloc[0]['DATE'] # the quotes around the output implies that 'DATE' column is of type string
df.iloc[0]['TIME'] # same with 'TIME' column

'03:00:00'

### converting 'DATE' and 'TIME' columns into a DateTime object

In [70]:
df['DATE_TIME'] = df['DATE'] + ' ' + df['TIME'] # concatenate with a space seperator; Pandas can parse this format when converting to datetime
df['DATE_TIME'] # still a string

0          01/23/2021 03:00:00
1          01/23/2021 07:00:00
2          01/23/2021 11:00:00
3          01/23/2021 15:00:00
4          01/23/2021 19:00:00
                  ...
5673225    07/31/2020 12:59:32
5673226    07/31/2020 13:00:00
5673227    07/31/2020 13:11:06
5673228    07/31/2020 17:00:00
5673229    07/31/2020 21:00:00
Name: DATE_TIME, Length: 5673230, dtype: object

In [71]:
df['DATE_TIME'] = pd.to_datetime(df['DATE_TIME']) # converts our new 'DATE_TIME' column into a datetime object

In [72]:
df.info() # dtype for 'DATE_TIME' column is now datetime64[ns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5673230 entries, 0 to 5673229
Data columns (total 12 columns):
 #   Column     Dtype
---  ------     -----
 0   C/A        object
 1   UNIT       object
 2   SCP        object
 3   STATION    object
 4   LINENAME   object
 5   DIVISION   object
 6   DATE       object
 7   TIME       object
 8   DESC       object
 9   ENTRIES    int64
 10  EXITS      int64
 11  DATE_TIME  datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(9)
memory usage: 519.4+ MB

### Check for Duplicate Entries
Each unique turnstile is represented by the same values for the following columns:  
'C/A'  
'UNIT'   
'SCP'   
'STATION'  
- Each combination of `C/A`, `UNIT`, `SCP`, and `STATION` represents a unique turnstile.
- For each turnstile, for a given day, there should be exactly 6 rows (1 for each time slot, i.e. datetime)
- For each turnstile, the `DATE_TIME` entries should not be duplicated.

In [73]:
# code modified from MTA 1 exercise
# verify that "C/A", "UNIT", "SCP", "STATION", "DATE_TIME" is unique
(df
 .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"])
 .ENTRIES.count()
 .reset_index()
 .sort_values("ENTRIES", ascending=False)).head(65) # looks like there are 61 duplicate entries

          C/A  UNIT       SCP          STATION           DATE_TIME  ENTRIES
317647   A064  R311  00-03-01           BOWERY 2020-08-17 16:00:00        2
3946455  R162  R166  00-00-01            79 ST 2020-12-30 16:00:00        2
3946459  R162  R166  00-00-01            79 ST 2020-12-31 08:00:00        2
5505629  R627  R063  00-00-01  SUTTER AV-RUTLD 2020-09-08 00:00:00        2
921496   H009  R235  00-06-00       BEDFORD AV 2020-08-12 16:00:00        2
...       ...   ...       ...              ...                 ...      ...
921690   H009  R235  00-06-01       BEDFORD AV 2020-08-13 04:00:00        2
3782111  R138  R293  00-00-04   34 ST-PENN STA 2020-09-14 02:00:00        1
3782113  R138  R293  00-00-04   34 ST-PENN STA 2020-09-14 10:00:00        1
3782119  R138  R293  00-00-04   34 ST-PENN STA 2020-09-15 10:00:00        1
3782112  R138  R293  00-00-04   34 ST-PENN STA 2020-09-14 06:00:00        1

[65 rows x 6 columns]

In [74]:
# # Get back to this if time permits; we should be 
# (df
#  .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"])
#  .ENTRIES.count() > 1).count()

It seems when there are duplicate entries, the later row has a higher, presumably more accurate count for 'ENTRIES' or 'EXITS', hence let's just keep the later row.

In [75]:
df.shape

(5673230, 12)

In [77]:
df.sort_values(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"], 
                          inplace=True, ascending=False)
df2 = df.drop_duplicates(subset=["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"], inplace=False, keep='last')

In [78]:
df2.shape

(5673169, 12)

In [80]:
# did it drop the correct number of rows? yes
df.shape[0]-df2.shape[0] # 5673230 - 5673169 = 61 duplicates we observed above have been removed.

61

In [82]:
(df2
 .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"])
 .ENTRIES.count()
 .reset_index()
 .sort_values("ENTRIES", ascending=False)).head(5) # no more duplicates

          C/A  UNIT       SCP         STATION           DATE_TIME  ENTRIES
0        A002  R051  02-00-00           59 ST 2020-07-25 00:00:00        1
3782110  R138  R293  00-00-04  34 ST-PENN STA 2020-09-13 22:00:00        1
3782118  R138  R293  00-00-04  34 ST-PENN STA 2020-09-15 06:00:00        1
3782117  R138  R293  00-00-04  34 ST-PENN STA 2020-09-15 02:00:00        1
3782116  R138  R293  00-00-04  34 ST-PENN STA 2020-09-14 22:00:00        1

In [83]:
df2

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
208914,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/29/2021,20:00:00,REGULAR,5554,544,2021-01-29 20:00:00
208913,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/29/2021,16:00:00,REGULAR,5554,544,2021-01-29 16:00:00
208912,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/29/2021,12:00:00,REGULAR,5554,544,2021-01-29 12:00:00
208911,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/29/2021,08:00:00,REGULAR,5554,544,2021-01-29 08:00:00
208910,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/29/2021,04:00:00,REGULAR,5554,544,2021-01-29 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
5466530,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/25/2020,16:00:00,REGULAR,7436681,2527962,2020-07-25 16:00:00
5466529,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/25/2020,12:00:00,REGULAR,7436611,2527942,2020-07-25 12:00:00
5466528,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/25/2020,08:00:00,REGULAR,7436581,2527907,2020-07-25 08:00:00
5466527,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/25/2020,04:00:00,REGULAR,7436572,2527900,2020-07-25 04:00:00
5466526,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/25/2020,00:00:00,REGULAR,7436571,2527896,2020-07-25 00:00:00

LINENAME = Represents all train lines that can be boarded at this station
           Normally lines are represented by one character.  LINENAME 456NQR repersents train server for 4, 5, 6, N, Q, and R trains.
DIVISION = Represents the Line originally the station belonged to BMT, IRT, or IND   
DATE     = Represents the date (MM-DD-YY)
TIME     = Represents the time (hh:mm:ss) for a scheduled audit event
DESc     = Represent the "REGULAR" scheduled audit event (Normally occurs every 4 hours)
           1. Audits may occur more that 4 hours due to planning, or troubleshooting activities. 
           2. Additionally, there may be a "RECOVR AUD" entry: This refers to a missed audit that was recovered.

In [84]:
# Drop DATE and TIME columns since we have DATE_TIME
# let's keep DIVISION and DESC for now.
df2.drop(["DATE", "TIME"], axis=1, errors="ignore") # ignore errors

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DESC,ENTRIES,EXITS,DATE_TIME
208914,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,544,2021-01-29 20:00:00
208913,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,544,2021-01-29 16:00:00
208912,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,544,2021-01-29 12:00:00
208911,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,544,2021-01-29 08:00:00
208910,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,544,2021-01-29 04:00:00
...,...,...,...,...,...,...,...,...,...,...
5466530,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7436681,2527962,2020-07-25 16:00:00
5466529,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7436611,2527942,2020-07-25 12:00:00
5466528,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7436581,2527907,2020-07-25 08:00:00
5466527,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7436572,2527900,2020-07-25 04:00:00
5466526,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7436571,2527896,2020-07-25 00:00:00

In [100]:
# end of day entries and exits occur at 8pm 20:00(so really should be looking at the first entry of the next day (00:00), then sift the Dates over, but we'll say it's 8pm for now; but come back and fix if time permits

# There 6 entries for each turnstile+date; let's get a dataframe with only the last timestamp (8pm) of the day; dropping the first 5 entries for the day; this will represent a daily time series; not a 4-hour time series

df2_daily_cum = (df2
                        .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE"],as_index=False)
                        [['LINENAME','DESC','DIVISION','ENTRIES','EXITS']].first())
# because of the groupby, the time parameter of DATE_TIME is reduced to a string column called 'DATE'
# convert 'DATE' to timeseries data
df['DATE_TIME'] = pd.to_datetime(df['DATE_TIME']) 
df2_daily_cum['DATE'] = pd.to_datetime(df2_daily_cum['DATE'])
df2_daily_cum

,C/A,UNIT,SCP,STATION,DATE,LINENAME,DESC,DIVISION,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,2021-01-01,NQR456W,REGULAR,BMT,7511647,2558865
1,A002,R051,02-00-00,59 ST,2021-01-02,NQR456W,REGULAR,BMT,7511996,2559007
2,A002,R051,02-00-00,59 ST,2021-01-03,NQR456W,REGULAR,BMT,7512214,2559091
3,A002,R051,02-00-00,59 ST,2021-01-04,NQR456W,REGULAR,BMT,7512754,2559328
4,A002,R051,02-00-00,59 ST,2021-01-05,NQR456W,REGULAR,BMT,7513300,2559580
...,...,...,...,...,...,...,...,...,...,...
937592,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2020-12-27,R,REGULAR,RIT,5554,541
937593,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2020-12-28,R,REGULAR,RIT,5554,541
937594,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2020-12-29,R,REGULAR,RIT,5554,541
937595,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2020-12-30,R,REGULAR,RIT,5554,541
937596,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2020-12-31,R,REGULAR,RIT,5554,541

In [101]:
df2_daily_cum.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 937597 entries, 0 to 937596
Data columns (total 10 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   C/A       937597 non-null  object
 1   UNIT      937597 non-null  object
 2   SCP       937597 non-null  object
 3   STATION   937597 non-null  object
 4   DATE      937597 non-null  datetime64[ns]
 5   LINENAME  937597 non-null  object
 6   DESC      937597 non-null  object
 7   DIVISION  937597 non-null  object
 8   ENTRIES   937597 non-null  int64
 9   EXITS     937597 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(7)
memory usage: 78.7+ MB

In [103]:
df2_daily_cum = df2_daily_cum.sort_values(by=['C/A','UNIT','SCP','STATION','DATE'], inplace=False)
df2_daily_cum

,C/A,UNIT,SCP,STATION,DATE,LINENAME,DESC,DIVISION,ENTRIES,EXITS
29,A002,R051,02-00-00,59 ST,2020-07-25,NQR456W,REGULAR,BMT,7436825,2527978
30,A002,R051,02-00-00,59 ST,2020-07-26,NQR456W,REGULAR,BMT,7437017,2528039
31,A002,R051,02-00-00,59 ST,2020-07-27,NQR456W,REGULAR,BMT,7437415,2528246
32,A002,R051,02-00-00,59 ST,2020-07-28,NQR456W,REGULAR,BMT,7437885,2528454
33,A002,R051,02-00-00,59 ST,2020-07-29,NQR456W,REGULAR,BMT,7438353,2528654
...,...,...,...,...,...,...,...,...,...,...
937432,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2021-01-25,R,REGULAR,RIT,5554,544
937433,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2021-01-26,R,REGULAR,RIT,5554,544
937434,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2021-01-27,R,REGULAR,RIT,5554,544
937435,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2021-01-28,R,REGULAR,RIT,5554,544
937436,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2021-01-29,R,REGULAR,RIT,5554,544

- as of now we only have the cummulative counter values for entries and exits
- let's get the daily counts

In [106]:
# find daily ENTRIES and EXITS ; right now these are cumulative values on the counters
# exits - previous exits = daily exit count ; likewise for entries

df2_daily_cum[["PREV_DATE", "PREV_ENTRIES", "PREV_EXITS"]] = (df2_daily_cum
                                                       .groupby(["C/A", "UNIT", "SCP", "STATION"])["DATE", "ENTRIES", 'EXITS']
                                                       .apply(lambda grp: grp.shift(1)))

<ipython-input-106-7d131c94efda>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df2_daily_cum[["PREV_DATE", "PREV_ENTRIES", "PREV_EXITS"]] = (df2_daily_cum

In [107]:
df2_daily_cum

,C/A,UNIT,SCP,STATION,DATE,LINENAME,DESC,DIVISION,ENTRIES,EXITS,PREV_DATE,PREV_ENTRIES,PREV_EXITS
29,A002,R051,02-00-00,59 ST,2020-07-25,NQR456W,REGULAR,BMT,7436825,2527978,NaT,NaN,NaN
30,A002,R051,02-00-00,59 ST,2020-07-26,NQR456W,REGULAR,BMT,7437017,2528039,2020-07-25,7436825.0,2527978.0
31,A002,R051,02-00-00,59 ST,2020-07-27,NQR456W,REGULAR,BMT,7437415,2528246,2020-07-26,7437017.0,2528039.0
32,A002,R051,02-00-00,59 ST,2020-07-28,NQR456W,REGULAR,BMT,7437885,2528454,2020-07-27,7437415.0,2528246.0
33,A002,R051,02-00-00,59 ST,2020-07-29,NQR456W,REGULAR,BMT,7438353,2528654,2020-07-28,7437885.0,2528454.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
937432,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2021-01-25,R,REGULAR,RIT,5554,544,2021-01-24,5554.0,544.0
937433,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2021-01-26,R,REGULAR,RIT,5554,544,2021-01-25,5554.0,544.0
937434,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2021-01-27,R,REGULAR,RIT,5554,544,2021-01-26,5554.0,544.0
937435,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2021-01-28,R,REGULAR,RIT,5554,544,2021-01-27,5554.0,544.0
937436,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2021-01-29,R,REGULAR,RIT,5554,544,2021-01-28,5554.0,544.0

In [111]:
# Drop the rows for the earliest date in the df
df2_daily_cum.dropna(subset=["PREV_DATE"], axis=0, inplace=True)
df2_daily_cum

,C/A,UNIT,SCP,STATION,DATE,LINENAME,DESC,DIVISION,ENTRIES,EXITS,PREV_DATE,PREV_ENTRIES,PREV_EXITS
30,A002,R051,02-00-00,59 ST,2020-07-26,NQR456W,REGULAR,BMT,7437017,2528039,2020-07-25,7436825.0,2527978.0
31,A002,R051,02-00-00,59 ST,2020-07-27,NQR456W,REGULAR,BMT,7437415,2528246,2020-07-26,7437017.0,2528039.0
32,A002,R051,02-00-00,59 ST,2020-07-28,NQR456W,REGULAR,BMT,7437885,2528454,2020-07-27,7437415.0,2528246.0
33,A002,R051,02-00-00,59 ST,2020-07-29,NQR456W,REGULAR,BMT,7438353,2528654,2020-07-28,7437885.0,2528454.0
34,A002,R051,02-00-00,59 ST,2020-07-30,NQR456W,REGULAR,BMT,7438828,2528832,2020-07-29,7438353.0,2528654.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
937432,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2021-01-25,R,REGULAR,RIT,5554,544,2021-01-24,5554.0,544.0
937433,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2021-01-26,R,REGULAR,RIT,5554,544,2021-01-25,5554.0,544.0
937434,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2021-01-27,R,REGULAR,RIT,5554,544,2021-01-26,5554.0,544.0
937435,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2021-01-28,R,REGULAR,RIT,5554,544,2021-01-27,5554.0,544.0
937436,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2021-01-29,R,REGULAR,RIT,5554,544,2021-01-28,5554.0,544.0

In [112]:
937597 - 932541 # The 1st date for each turnstile should have been dropped, therefore, there should be 5056 turnstiles

5056

In [122]:
# to make like easier, let's make a list of the columns that identifies a unique turnstile, we seem to be using it a lot.
turnstile_col_list = ['C/A','UNIT','SCP','STATION']

# how many unique turnstiles are there?
(df
 .groupby(turnstile_col_list)
 .count()) # note, we used df here: output: 5056 <-- correct
(df2_daily_cum
 .groupby(turnstile_col_list)
 .count()) # note, we used df here: output: 5029 <-- ??? why is it less?

                                   DATE  LINENAME  DESC  DIVISION  ENTRIES  \
C/A   UNIT SCP      STATION
A002  R051 02-00-00 59 ST           188       188   188       188      188
           02-00-01 59 ST           188       188   188       188      188
           02-03-00 59 ST           188       188   188       188      188
           02-03-01 59 ST           188       188   188       188      188
           02-03-02 59 ST           188       188   188       188      188
...                                 ...       ...   ...       ...      ...
TRAM2 R469 00-00-01 RIT-ROOSEVELT   188       188   188       188      188
           00-03-00 RIT-ROOSEVELT   188       188   188       188      188
           00-03-01 RIT-ROOSEVELT   188       188   188       188      188
           00-05-00 RIT-ROOSEVELT   188       188   188       188      188
           00-05-01 RIT-ROOSEVELT   188       188   188       188      188

                                   EXITS  PREV_DATE  PREV_ENTRIES  PREV_EXITS
C/A   UNIT SCP      STATION
A002  R051 02-00-00 59 ST            188        188           188         188
           02-00-01 59 ST            188        188           188         188
           02-03-00 59 ST            188        188           188         188
           02-03-01 59 ST            188        188           188         188
           02-03-02 59 ST            188        188           188         188
...                                  ...        ...           ...         ...
TRAM2 R469 00-00-01 RIT-ROOSEVELT    188        188           188         188
           00-03-00 RIT-ROOSEVELT    188        188           188         188
           00-03-01 RIT-ROOSEVELT    188        188           188         188
           00-05-00 RIT-ROOSEVELT    188        188           188         188
           00-05-01 RIT-ROOSEVELT    188        188           188         188

[5029 rows x 9 columns]

In [123]:
# How many stations are there?
(df
 .groupby('STATION').count()) # for df, output: 379
(df2_daily_cum
 .groupby('STATION').count()) # for df2_daily_cum, output:379

,C/A,UNIT,SCP,DATE,LINENAME,DESC,DIVISION,ENTRIES,EXITS,PREV_DATE,PREV_ENTRIES,PREV_EXITS
STATION,,,,,,,,,,,,
1 AV,4455,4455,4455,4455,4455,4455,4455,4455,4455,4455,4455,4455
103 ST,2816,2816,2816,2816,2816,2816,2816,2816,2816,2816,2816,2816
103 ST-CORONA,1692,1692,1692,1692,1692,1692,1692,1692,1692,1692,1692,1692
104 ST,1692,1692,1692,1692,1692,1692,1692,1692,1692,1692,1692,1692
110 ST,1128,1128,1128,1128,1128,1128,1128,1128,1128,1128,1128,1128
...,...,...,...,...,...,...,...,...,...,...,...,...
WOODLAWN,940,940,940,940,940,940,940,940,940,940,940,940
WORLD TRADE CTR,3360,3360,3360,3360,3360,3360,3360,3360,3360,3360,3360,3360
WTC-CORTLANDT,6580,6580,6580,6580,6580,6580,6580,6580,6580,6580,6580,6580
YORK ST,564,564,564,564,564,564,564,564,564,564,564,564
ZEREGA AV,1128,1128,1128,1128,1128,1128,1128,1128,1128,1128,1128,1128

### list of things to check when time permits  
- are the station names unique?

## fixing reverse entries  
- for a given day, for a given turnstile, PREV_ENTRIES should always be less than ENTRIES (entries for that day); if not, there was some error in entering the data.

In [137]:
# group by turnstile and see how rows/days have an error where the previous entries is greater than the current day's entries
(df2_daily_cum[df2_daily_cum["ENTRIES"] < df2_daily_cum["PREV_ENTRIES"]]
    .groupby(["C/A", "UNIT", "SCP", "STATION"])
    .size().sort_values(ascending=False).head(50))
#377 turnstiles have at least one of these errors. A lot of them seem to have 188 errors, why is 188 errors common???

C/A    UNIT  SCP       STATION
A011   R080  01-03-00  57 ST-7 AV         188
C008   R099  00-00-00  DEKALB AV          188
H023   R236  00-06-00  DEKALB AV          188
N056   R188  01-00-03  50 ST              188
N063A  R011  00-00-08  42 ST-PORT AUTH    188
N078   R175  01-00-03  14 ST              188
N110   R283  00-06-00  LAFAYETTE AV       188
N137   R354  00-06-01  104 ST             188
N203   R195  00-00-01  161/YANKEE STAD    188
N207   R104  00-00-00  167 ST             188
N215   R237  00-00-02  182-183 STS        188
N327   R254  00-06-01  GRAND-NEWTOWN      188
N342   R019  01-03-02  JAMAICA 179 ST     188
N506   R022  00-05-03  34 ST-HERALD SQ    188
N508   R453  00-00-02  23 ST              188
N606   R025  00-00-01  JAMAICA CENTER     188
R127   R105  00-00-00  14 ST              188
R161B  R452  00-00-03  72 ST              188
R304   R206  00-00-00  125 ST             188
R322   R386  00-00-02  174 ST             188
R523   R147  00-00-04  61 ST WOODSIDE     188
H003   R163  01-00-02  6 AV               188
N601   R319  00-00-01  LEXINGTON AV/63    188
R730   R431  00-00-04  EASTCHSTER/DYRE    188
A066   R118  00-00-00  CANAL ST           188
D011   R394  01-06-01  BAY PKWY           187
N063A  R011  00-00-05  42 ST-PORT AUTH    187
K026   R100  00-00-01  METROPOLITAN AV    187
R622   R123  00-00-00  FRANKLIN AV        187
R401   R445  00-00-00  3 AV 138 ST        186
N006A  R280  00-00-00  190 ST             186
N305   R017  01-03-04  LEXINGTON AV/53    186
D011   R394  01-06-00  BAY PKWY           186
N400A  R359  02-00-03  COURT SQ           185
R138   R293  00-03-00  34 ST-PENN STA     185
N063A  R011  00-00-04  42 ST-PORT AUTH    183
N325A  R218  00-05-00  ELMHURST AV        182
R412   R146  00-00-00  HUNTS POINT AV     157
R236   R045  00-03-01  GRD CNTRL-42 ST    154
N559   R425  00-06-01  AVENUE U           146
H001   R175  00-00-00  8 AV               141
H023   R236  00-00-01  DEKALB AV          139
N009   R174  01-00-02  181 ST              99
A049   R088  02-05-00  CORTLANDT ST        79
A025   R023  01-03-01  34 ST-HERALD SQ     39
R306   R207  00-00-00  135 ST              31
PTH04  R551  00-04-06  GROVE STREET         9
PTH16  R550  01-00-02  LACKAWANNA           9
R160   R164  02-03-00  66 ST-LINCOLN        8
R237   R046  01-00-06  GRD CNTRL-42 ST      7
dtype: int64

In [126]:
(df2_daily_cum[df2_daily_cum["ENTRIES"] < df2_daily_cum["PREV_ENTRIES"]]
    .groupby(["C/A", "UNIT", "SCP", "STATION"])
    .size().sum())

8355

In [134]:
reverse_sum = (df2_daily_cum[df2_daily_cum["ENTRIES"] < df2_daily_cum["PREV_ENTRIES"]]
    .groupby(["C/A", "UNIT", "SCP", "STATION"])
    .size().sum())
reverse_sum / df2_daily_cum.shape[0]
# 0.90% of the rows have this reverse error

0.0089593915977957

In [138]:
# Fix this error: (code modified from MTA 3 exercise)
def get_daily_counts(row, max_counter):
    counter = row["ENTRIES"] - row["PREV_ENTRIES"]
    if counter < 0:
        counter = -counter
    if counter > max_counter:
        print(row["ENTRIES"], row["PREV_ENTRIES"])
        return 0
    return counter

# If counter is > 1Million, then the counter might have been reset.  
# Just set it to zero as different counters have different cycle limits
_ = df2_daily_cum.apply(get_daily_counts, axis=1, max_counter=1000000)

52806 17116894.0
289 3055256.0
348 1237351900.0
198 5102094.0
123 1630877.0
20 2642748.0
26 3963030.0
169 2172444.0
43 3039842.0
408 4676418.0
12 1309708904.0
210 2427404.0
379 1208236.0
88 1197880.0
262182 6657224.0
248 1264348.0
1294 6496220.0
455 2822958.0
524338 67889725.0
372 4971113.0
544 475738131.0
16796392 123975.0
453044031 1779426.0
5177693 17134751.0
233 2297325.0
219 1875169.0
631046281 246545.0
112 631050303.0
606 8096346.0
1136721145 6439404.0
212 3145253.0
590069 1906617.0
91 4038371.0
172229024 8843948.0
157 3563454.0
144 3086960.0
186 12153427.0
279 8291685.0
63 1074082.0
6 10731820.0
33 15171263.0
77 15185542.0
33567747 143338.0
1610558722 10549231.0
120 3319940.0
394 2773389.0
100 2493895.0
280 7355319.0
351 394320240.0
156 8876671.0
1160 2419490.0
524299 117443285.0
37 3334731.0
746 342505202.0
524311 102677421.0
3834145 983905.0
160 3834145.0
2293788 4259642.0
29 1505299.0
248 827160459.0
47 2514854.0
262145 50332023.0
1376376 8181460.0
420 4343900.0
589865448 6311679.0
6313226 589865448.0
4456968 49195.0
50260 4456968.0
3302818 519122.0
520208 3302818.0
134277383 525023.0
458765 134277578.0
278 5239290.0
318 3251529.0
81 644689531.0
174 6817281.0
459319 1518041.0
10 2197669.0
165 2351204.0
23 134570115.0
69 1021601.0
1021605 835.0
839 1483975.0
5 2706972.0
93 1325337.0
147 12840762.0
210 12003425.0
35 3732118.0
205 2404886.0
890 10054500.0
78 1242136770.0
2614846 7318132.0
7318377 2614511.0
127 7326231.0
500 3115313.0
61 3080422.0
172 5912692.0
955056270 4994242.0
262248 955056882.0
524450 6946638.0
1055 4845991.0
917504 67108864.0
721366 6946581.0
245 2787060.0
191 2811568.0
647 239666917.0
524292 2226894.0
218 2867603.0
230 5324632.0
983451 4659872.0
95 1143524.0
197 5125463.0
187 7855959.0
517 1786225.0
499 42927148.0
7 5433033.0
5436427 7.0
625 3795641.0
1397029 3004522.0
494 1930690.0
36 5788439.0
5788843 36.0
54 4112456.0
48 5583003.0
28 6190595.0
38 235366971.0
165 11883611.0
870767 2522090.0
92 1311697.0
315 6289129.0
263 2087362.0
195 9679898.0
212 6658385.0
60 5373982.0
15439231 6237114.0
18 1437665.0
40025 2237760.0
2238756 40025.0
126 2836277.0
103 3299852.0
262146 67110893.0
545 2888736.0
5 13122450.0
21 2166896.0
126 1965830.0
9 1031327.0
654375162 10318322.0
67156129 10450185.0
1071773 4638441.0
85 4001974.0
10 3109024.0
308 5182656.0
177 10323516.0
10 6428987.0
4 7751347.0
160 8634390.0
315 2844675.0
144 21377118.0
550 16283553.0
90 3463880.0
592403 4715175.0
196 4008525.0
688 141769497.0
32 6478782.0
285 3953135.0
311 352594526.0
855624180 13456261.0
65841 2356117.0
1828739614 7196295.0
738431481 53263405.0
8 1119006.0
1119053 8.0
240 1614792.0
720897 117445467.0
131 3201434.0
46 4625588.0
54 1776715.0
105 1543713.0
655577 10696562.0
280 2867953.0
128 1589490.0
112 1210137.0
38 1185237.0
22 5621555.0
24 3242985.0

In [140]:
def get_daily_counts(row, max_counter):
    counter = row["ENTRIES"] - row["PREV_ENTRIES"]
    if counter < 0:
        # Maybe counter is reversed?
        counter = -counter
    if counter > max_counter:
        # Maybe counter was reset to 0? 
        print(row["ENTRIES"], row["PREV_ENTRIES"])
        counter = min(row["ENTRIES"], row["PREV_ENTRIES"])
    if counter > max_counter:
        # Check it again to make sure we're not still giving a counter that's too big
        return 0
    return counter

# If counter is > 1Million, then the counter might have been reset.  
# Just set it to zero as different counters have different cycle limits
# It'd probably be a good idea to use a number even significantly smaller than 1 million as the limit!
df2_daily_cum["DAILY_ENTRIES"] = df2_daily_cum.apply(get_daily_counts, axis=1, max_counter=1000000)

52806 17116894.0
289 3055256.0
348 1237351900.0
198 5102094.0
123 1630877.0
20 2642748.0
26 3963030.0
169 2172444.0
43 3039842.0
408 4676418.0
12 1309708904.0
210 2427404.0
379 1208236.0
88 1197880.0
262182 6657224.0
248 1264348.0
1294 6496220.0
455 2822958.0
524338 67889725.0
372 4971113.0
544 475738131.0
16796392 123975.0
453044031 1779426.0
5177693 17134751.0
233 2297325.0
219 1875169.0
631046281 246545.0
112 631050303.0
606 8096346.0
1136721145 6439404.0
212 3145253.0
590069 1906617.0
91 4038371.0
172229024 8843948.0
157 3563454.0
144 3086960.0
186 12153427.0
279 8291685.0
63 1074082.0
6 10731820.0
33 15171263.0
77 15185542.0
33567747 143338.0
1610558722 10549231.0
120 3319940.0
394 2773389.0
100 2493895.0
280 7355319.0
351 394320240.0
156 8876671.0
1160 2419490.0
524299 117443285.0
37 3334731.0
746 342505202.0
524311 102677421.0
3834145 983905.0
160 3834145.0
2293788 4259642.0
29 1505299.0
248 827160459.0
47 2514854.0
262145 50332023.0
1376376 8181460.0
420 4343900.0
589865448 6311679.0
6313226 589865448.0
4456968 49195.0
50260 4456968.0
3302818 519122.0
520208 3302818.0
134277383 525023.0
458765 134277578.0
278 5239290.0
318 3251529.0
81 644689531.0
174 6817281.0
459319 1518041.0
10 2197669.0
165 2351204.0
23 134570115.0
69 1021601.0
1021605 835.0
839 1483975.0
5 2706972.0
93 1325337.0
147 12840762.0
210 12003425.0
35 3732118.0
205 2404886.0
890 10054500.0
78 1242136770.0
2614846 7318132.0
7318377 2614511.0
127 7326231.0
500 3115313.0
61 3080422.0
172 5912692.0
955056270 4994242.0
262248 955056882.0
524450 6946638.0
1055 4845991.0
917504 67108864.0
721366 6946581.0
245 2787060.0
191 2811568.0
647 239666917.0
524292 2226894.0
218 2867603.0
230 5324632.0
983451 4659872.0
95 1143524.0
197 5125463.0
187 7855959.0
517 1786225.0
499 42927148.0
7 5433033.0
5436427 7.0
625 3795641.0
1397029 3004522.0
494 1930690.0
36 5788439.0
5788843 36.0
54 4112456.0
48 5583003.0
28 6190595.0
38 235366971.0
165 11883611.0
870767 2522090.0
92 1311697.0
315 6289129.0
263 2087362.0
195 9679898.0
212 6658385.0
60 5373982.0
15439231 6237114.0
18 1437665.0
40025 2237760.0
2238756 40025.0
126 2836277.0
103 3299852.0
262146 67110893.0
545 2888736.0
5 13122450.0
21 2166896.0
126 1965830.0
9 1031327.0
654375162 10318322.0
67156129 10450185.0
1071773 4638441.0
85 4001974.0
10 3109024.0
308 5182656.0
177 10323516.0
10 6428987.0
4 7751347.0
160 8634390.0
315 2844675.0
144 21377118.0
550 16283553.0
90 3463880.0
592403 4715175.0
196 4008525.0
688 141769497.0
32 6478782.0
285 3953135.0
311 352594526.0
855624180 13456261.0
65841 2356117.0
1828739614 7196295.0
738431481 53263405.0
8 1119006.0
1119053 8.0
240 1614792.0
720897 117445467.0
131 3201434.0
46 4625588.0
54 1776715.0
105 1543713.0
655577 10696562.0
280 2867953.0
128 1589490.0
112 1210137.0
38 1185237.0
22 5621555.0
24 3242985.0

In [141]:
(df2_daily_cum[df2_daily_cum["ENTRIES"] < df2_daily_cum["PREV_ENTRIES"]]
    .groupby(["C/A", "UNIT", "SCP", "STATION"])
    .size())

C/A   UNIT  SCP       STATION
A011  R080  01-03-00  57 ST-7 AV         188
            01-03-01  57 ST-7 AV           1
A014  R081  02-00-00  49 ST                1
A025  R023  01-03-01  34 ST-HERALD SQ     39
A031  R083  00-00-01  23 ST                1
                                        ...
R647  R110  02-05-00  FLATBUSH AV-B.C      1
            02-05-01  FLATBUSH AV-B.C      2
R728  R226  00-00-00  GUN HILL RD          1
            00-00-01  GUN HILL RD          1
R730  R431  00-00-04  EASTCHSTER/DYRE    188
Length: 377, dtype: int64

In [142]:
df2_daily_cum.head()

,C/A,UNIT,SCP,STATION,DATE,LINENAME,DESC,DIVISION,ENTRIES,EXITS,PREV_DATE,PREV_ENTRIES,PREV_EXITS,DAILY_ENTRIES
30,A002,R051,02-00-00,59 ST,2020-07-26,NQR456W,REGULAR,BMT,7437017,2528039,2020-07-25,7436825.0,2527978.0,192.0
31,A002,R051,02-00-00,59 ST,2020-07-27,NQR456W,REGULAR,BMT,7437415,2528246,2020-07-26,7437017.0,2528039.0,398.0
32,A002,R051,02-00-00,59 ST,2020-07-28,NQR456W,REGULAR,BMT,7437885,2528454,2020-07-27,7437415.0,2528246.0,470.0
33,A002,R051,02-00-00,59 ST,2020-07-29,NQR456W,REGULAR,BMT,7438353,2528654,2020-07-28,7437885.0,2528454.0,468.0
34,A002,R051,02-00-00,59 ST,2020-07-30,NQR456W,REGULAR,BMT,7438828,2528832,2020-07-29,7438353.0,2528654.0,475.0

In [143]:
# we created daily entries, now do the same for exits.
def get_daily_exits(row, max_counter):
    counter = row["EXITS"] - row["PREV_EXITS"]
    if counter < 0:
        # Maybe counter is reversed?
        counter = -counter
    if counter > max_counter:
        # Maybe counter was reset to 0? 
        print(row["EXITS"], row["PREV_EXITS"])
        counter = min(row["EXITS"], row["PREV_EXITS"])
    if counter > max_counter:
        # Check it again to make sure we're not still giving a counter that's too big
        return 0
    return counter

# If counter is > 1Million, then the counter might have been reset.  
# Just set it to zero as different counters have different cycle limits
# It'd probably be a good idea to use a number even significantly smaller than 1 million as the limit!
df2_daily_cum["DAILY_EXITS"] = df2_daily_cum.apply(get_daily_exits, axis=1, max_counter=1000000)

45524 18816668.0
107 1094082.0
546 1813836590.0
54 1719658.0
405 7016484.0
243 13800450.0
26 5651387.0
74 1717529.0
46 2113917.0
272 5913711.0
6 537859303.0
327 2211008.0
289 1720817.0
196621 4212086.0
1866 8290526.0
391 1026298.0
84 117788336.0
166 1726293.0
646 1399869279.0
268439877 1060617.0
112 5092625.0
328347 22686813.0
332 1322117.0
1740505054 112409.0
52 1740502299.0
159 2291065.0
489882421 3471866.0
138 3200862.0
374 5513716.0
1470955939 7055962.0
237 1855382.0
213 2805233.0
448 8831790.0
498 5618421.0
0 11585793.0
15 8828807.0
68 8836436.0
33600711 154667.0
134335455 17351710.0
166 2716690.0
279 1411544.0
82 1005986.0
98 2724373.0
87 1260151.0
432 325818728.0
54 7314585.0
80 1586430.0
41 4890958.0
249 85432112.0
1 16954543.0
6589866 352579.0
97 6589866.0
18 6647582.0
14 1863031.0
269 1904427942.0
182 5758082.0
0 16777216.0
262319 6220102.0
286 1787198.0
588718068 1564798.0
1565304 588718068.0
1682507 30754.0
31317 1682507.0
3993724 214690.0
215317 3993724.0
4264025 69694.0
69754 4264025.0
223 5547055.0
170 1973800.0
93 968396197.0
196 4037900.0
27 1077804.0
224 2675790.0
34 67314359.0
294 5739079.0
5739121 4703.0
4759 4445865.0
13 5450383.0
47 1758324.0
56 10169239.0
344 16633848.0
23 2858888.0
250 2243942.0
82 1973106128.0
2166261 9386590.0
9386912 2165544.0
487 9397213.0
85 2792027.0
1695874950 1378915.0
35 1695874873.0
19 1405191.0
434 1603111.0
131074 16777846.0
220 3625721.0
423 5194712.0
426 3505140.0
359 1406320670.0
23 6531731.0
570 5676472.0
403 8693328.0
25 1129029.0
518 25897868.0
144 6656169.0
155 3124893.0
3127989 155.0
236 1354132.0
2485 1275572.0
1040 1262007.0
745 1220048.0
26 2978086.0
2978243 26.0
27 3181331.0
25 3627961.0
32 1464338.0
31 151336658.0
160 13133461.0
94 1304980.0
33 1480715.0
87 1122676.0
1026 1128766.0
193 8795225.0
104 4647186.0
37 2822700.0
130860 2548942.0
45395 1358461.0
1359321 45395.0
72 1598455.0
119 3605247.0
65536 16777216.0
335 1203459.0
0 3898863.0
0 1656138.0
1509997348 2309632.0
100695321 2325891.0
2132 4488646.0
9 1327380.0
153 2947536.0
0 5754939.0
126 1570146.0
79 5198530.0
1 7595981.0
3 6862333.0
123 6577150.0
73 2837097.0
2686 9692397.0
320 21252165.0
485 1050117.0
415 1227004.0
30 3294613.0
271 2701574.0
127 18034619.0
381 268667145.0
922774709 3641829.0
1728007631 10052406.0
1157905864 71640142.0
8883 1845647.0
1845791 8883.0
744 2027023.0
183 2484173.0
585 6547488.0
696 9092061.0
608 7498476.0
588 2758768.0
604 15011153.0
986 1860223.0
106 1252355.0
14 6515790.0

,C/A,UNIT,SCP,STATION,DATE,LINENAME,DESC,DIVISION,ENTRIES,EXITS,PREV_DATE,PREV_ENTRIES,PREV_EXITS,DAILY_ENTRIES,DAILY_EXITS
30,A002,R051,02-00-00,59 ST,2020-07-26,NQR456W,REGULAR,BMT,7437017,2528039,2020-07-25,7436825.0,2527978.0,192.0,61.0
31,A002,R051,02-00-00,59 ST,2020-07-27,NQR456W,REGULAR,BMT,7437415,2528246,2020-07-26,7437017.0,2528039.0,398.0,207.0
32,A002,R051,02-00-00,59 ST,2020-07-28,NQR456W,REGULAR,BMT,7437885,2528454,2020-07-27,7437415.0,2528246.0,470.0,208.0
33,A002,R051,02-00-00,59 ST,2020-07-29,NQR456W,REGULAR,BMT,7438353,2528654,2020-07-28,7437885.0,2528454.0,468.0,200.0
34,A002,R051,02-00-00,59 ST,2020-07-30,NQR456W,REGULAR,BMT,7438828,2528832,2020-07-29,7438353.0,2528654.0,475.0,178.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
937432,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2021-01-25,R,REGULAR,RIT,5554,544,2021-01-24,5554.0,544.0,0.0,0.0
937433,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2021-01-26,R,REGULAR,RIT,5554,544,2021-01-25,5554.0,544.0,0.0,0.0
937434,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2021-01-27,R,REGULAR,RIT,5554,544,2021-01-26,5554.0,544.0,0.0,0.0
937435,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2021-01-28,R,REGULAR,RIT,5554,544,2021-01-27,5554.0,544.0,0.0,0.0
937436,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2021-01-29,R,REGULAR,RIT,5554,544,2021-01-28,5554.0,544.0,0.0,0.0

In [144]:
df2_daily_cum

,C/A,UNIT,SCP,STATION,DATE,LINENAME,DESC,DIVISION,ENTRIES,EXITS,PREV_DATE,PREV_ENTRIES,PREV_EXITS,DAILY_ENTRIES,DAILY_EXITS
30,A002,R051,02-00-00,59 ST,2020-07-26,NQR456W,REGULAR,BMT,7437017,2528039,2020-07-25,7436825.0,2527978.0,192.0,61.0
31,A002,R051,02-00-00,59 ST,2020-07-27,NQR456W,REGULAR,BMT,7437415,2528246,2020-07-26,7437017.0,2528039.0,398.0,207.0
32,A002,R051,02-00-00,59 ST,2020-07-28,NQR456W,REGULAR,BMT,7437885,2528454,2020-07-27,7437415.0,2528246.0,470.0,208.0
33,A002,R051,02-00-00,59 ST,2020-07-29,NQR456W,REGULAR,BMT,7438353,2528654,2020-07-28,7437885.0,2528454.0,468.0,200.0
34,A002,R051,02-00-00,59 ST,2020-07-30,NQR456W,REGULAR,BMT,7438828,2528832,2020-07-29,7438353.0,2528654.0,475.0,178.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
937432,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2021-01-25,R,REGULAR,RIT,5554,544,2021-01-24,5554.0,544.0,0.0,0.0
937433,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2021-01-26,R,REGULAR,RIT,5554,544,2021-01-25,5554.0,544.0,0.0,0.0
937434,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2021-01-27,R,REGULAR,RIT,5554,544,2021-01-26,5554.0,544.0,0.0,0.0
937435,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2021-01-28,R,REGULAR,RIT,5554,544,2021-01-27,5554.0,544.0,0.0,0.0
937436,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2021-01-29,R,REGULAR,RIT,5554,544,2021-01-28,5554.0,544.0,0.0,0.0

## daily Station exits and entries (combine turnstiles within station)

- recall, a unique turnstile is defined by ['C/A','UNIT','SCP','STATION']
- it's the SCP column that specifies a unique turnstile within a station.
- to specify a unique station, group only by ['C/A','UNIT','STATION'], i.e. leave out the sation
- from MTA 3: "There are some ControlArea/Unit/Station groups that have a single
  turnstile, but most have multiple turnstiles -- same value for the
  C/A, UNIT and STATION columns, different values for the SCP column."

In [147]:
ca_unit_station_daily = df2_daily_cum.groupby(["C/A", "UNIT", "STATION", "DATE"])[['DAILY_ENTRIES','DAILY_EXITS']].sum().reset_index()

ca_unit_station_daily

          C/A  UNIT        STATION       DATE  DAILY_ENTRIES  DAILY_EXITS
0        A002  R051          59 ST 2020-07-26         1295.0       1132.0
1        A002  R051          59 ST 2020-07-27         2884.0       2684.0
2        A002  R051          59 ST 2020-07-28         3163.0       2792.0
3        A002  R051          59 ST 2020-07-29         3274.0       2861.0
4        A002  R051          59 ST 2020-07-30         3384.0       2806.0
...       ...   ...            ...        ...            ...          ...
140705  TRAM2  R469  RIT-ROOSEVELT 2021-01-25         1036.0         46.0
140706  TRAM2  R469  RIT-ROOSEVELT 2021-01-26          950.0         41.0
140707  TRAM2  R469  RIT-ROOSEVELT 2021-01-27         1058.0         40.0
140708  TRAM2  R469  RIT-ROOSEVELT 2021-01-28         1077.0         36.0
140709  TRAM2  R469  RIT-ROOSEVELT 2021-01-29          918.0         34.0

[140710 rows x 6 columns]

In [146]:
# are the station names unique? we should get the same dimensions if we group just by station and date
station_daily_test = df2_daily_cum.groupby(["STATION", "DATE"])[['DAILY_ENTRIES','DAILY_EXITS']].sum().reset_index()
station_daily_test
# ???? we get about half the number of rows, which implies a ton of names being reused; maybe ['C/A','UNIT','STATION'] specifies a part of the station?

         STATION       DATE  DAILY_ENTRIES  DAILY_EXITS
0           1 AV 2020-07-26         2922.0       3990.0
1           1 AV 2020-07-27         4301.0       6027.0
2           1 AV 2020-07-28         4573.0       6602.0
3           1 AV 2020-07-29         4933.0       6793.0
4           1 AV 2020-07-30         4711.0       6768.0
...          ...        ...            ...          ...
71098  ZEREGA AV 2021-01-25          950.0       1106.0
71099  ZEREGA AV 2021-01-26          968.0       1157.0
71100  ZEREGA AV 2021-01-27          980.0       1153.0
71101  ZEREGA AV 2021-01-28          891.0       1158.0
71102  ZEREGA AV 2021-01-29          884.0       1030.0

[71103 rows x 4 columns]